<legend>リモートコントロール</legend>

<div>
  <% @devices.each do |i| %>
    <h4><%= link_to i.name, "#" %></h4>
    <div>
      <% i.ir_signal.each do |s| %>
        <%= link_to s.name, ir_send_remote_path(:id => s.id), :class => "btn" %>
      <% end %>
    </div>
  <% end %>
</div>
