<legend>リモートコントロール</legend>

<div class="remote">
  <% @devices.each do |i| %>
    <% if i.ir_signal.count != 0 %>
    <h4><%= link_to i.name, "#" %></h4>
    <table>
      <tr>
      <% i.ir_signal.each do |s| %>
        <td><%= button_to s.name, ir_send_remote_path(:id => s.id), :class => "btn send" %></td>
      <% end %>
      </tr>
    </table>
    <% end %>
  <% end %>
</div>
