<div class="hero-unit">
  <p>現在の</p>
  <table class="table">
    <tr>
      <th>気温</th>
      <th>照度</th>
    </tr>
    <tr>
      <td><%= @temp %> ℃</td>
      <td><%= @lx %> lx</td>
    </tr>
  </table>
</div>
