<div class="hero-unit">
  <p>現在の</p>
  <table class="table">
    <tr>
      <th>気温</th>
      <th>照度</th>
    </tr>
    <tr>
      <td><%= @temp %> ℃</td>
      <td><%= @lx %> lx</td>
    </tr>
  </table>
  <div align="right">
    <small><%= DateTime.now.in_time_zone('Tokyo') %> 取得</small>
  </div>
</div>
